@import "./universal.scss";

#nav-main{
.nav_logo{
  width: 90%;
  margin-top: 5px;
}
.fa-bars{
  padding-right: 20px;
  padding-top: 10px;
}

ul{
  list-style: none;
  text-align: left;
  li{
    color: $blue;
    padding:5px 0px;
    font-weight: bold;
  }
}
.nav-links{
  background: $white;
  padding: 10px 0px;
  border-radius: 0px 0px 25px 25px;
  box-shadow: 0px 0px 4px 3px rgba(0,0,0,0.20);
}
.slide-enter-active {
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.slide-leave-active {
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to,
.slide-leave {
    max-height: 100px;
    overflow: hidden;
}

.slide-enter,
.slide-leave-to {
    overflow: hidden;
    max-height: 0;
}

}
