#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/****************************
Colors
*****************************/
$blue: #016BA8;
$white: #ffffff;
$orange: #FFB715;
$gradient: linear-gradient(to bottom, #016ba8, #1c74af, #2c7db5, #3a86bc, #468fc2, #5396c7, #5f9ecd, #6aa5d2, #78add7, #85b5dd, #92bde2, #9fc5e8);
/****************************
END Colors
*****************************/

/****************************
TYPOGRAPHY
*****************************/
$font: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

h1{
  font-family: $font;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 5px;
}

h2{
  font-family: $font;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 5px;
}

p{
  font-family: $bodyFont;
  font-size: 14px;
}
/****************************
END TYPOGRAPHY
*****************************/

/****************************
BUTTONS
*****************************/
@mixin button_one(){
  background: $white;
  padding: 5px 15px;
  color: $blue;
  font-size: 14px;
  border-radius: 15px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
  &:focus{
    outline: none;
  }
  &:hover{
    background: $orange;
    color: $white;
    transition: 1s all;
    box-shadow: none;
  }

}
/****************************
END BUTTONS
*****************************/

/****************************
PAGES
*****************************/

@mixin main_page_styles(){
  background: $gradient;
  height: 100vh;
  overflow: hidden;
  color: $white;
}

.home, .welcome{
@include main_page_styles();
}

/****************************
END PAGES
*****************************/

.main-illustration{
}

.logo{
  margin-top: 25px;
}
